[2015-08-10 04:58] lfrancois opened #6 "metrics-es-node.rb - 404 Resource Not Found"
Hi,

I think it used to work fine and I have an issue right now, I don't know if it's related to the upgrade of my  ES cluster to 1.7.0

[code]
Any idea, what it could be?

[2015-08-13 23:16] jpcarey opened #7 "add more url options, host:port does not cover all scenarios"
I'd like to add further url options to allow better flexibility.

An example of something not possible with the current code is to try to check the cluster status of  `http://example.com/elasticsearch`

Looking at elasticsearch curator (https://www.elastic.co/guide/en/elasticsearch/client/curator/current/flags.html), they have broke out the path using the following:

-host
-http_auth
-port
-timeou

[2015-09-14 13:27] mattyjones commented on #6
@lfrancois  I know that Ruby <1.9.3 is not supported. With that being said you may have to do some tweaking but I would try it with the embedded Ruby. If that does not work the error message that you are getting refers to the URL that the check is trying to execute not being found.

I would start by making sure that url exists and if so try it with simple curl.

[2015-09-14 13:28] mattyjones commented on #7
@jpcarey  I am certainly game to any additional functionally.

[2015-09-17 18:45] lfrancois commented on #6
I use elasticsearch 1.7.1 and it seems there is not this nodes entry anymore under _cluster and it moved to _nodes. Is it normal?
[code]

It seems it moved here:
root@esm1 ~ # curl http://localhost:9200/_nodes/_local/stats

So I did that, and now it seems to work
[code]

[2015-10-31 03:09] damm opened #11 "Upgrade for Elasticsearch 2.0.0"
Check failed to run: undefined method `[]' for 0.13:Float, ["/opt/sensu/embedded/lib/ruby/gems/2.0.0/gems/sensu-plugins-elasticsearch-0.2.0/bin/metrics-es-node-graphite.rb:169:in `run'", "/opt/sensu/embedded/lib/ruby/gems/2.0.0/gems/sensu-plugin-1.2.0/lib/sensu-plugin/cli.rb:56:in `block in <class:CLI>'"]

[2015-11-04 16:58] multani commented on #11
The ``check-es-node-status.rb`` check also always fails now. (it always returns ``ESNodeStatus CRITICAL: Dead (0)``)

[2015-11-05 07:57] eheydrick commented on #11
@damm the node stats API changed in ES 2.0. load average is no longer an array, network stats are gone, and uptime is now under jvm. I updated the plugin for the new API, can you test it out. https://github.com/eheydrick/sensu-plugins-elasticsearch/blob/es_2.0/bin/metrics-es-node-graphite.rb

I ran it on ES 1.7 and 2.0 and it outputs stats on both versions.

[2015-11-05 08:27] #11 closed

[2015-11-05 16:17] mattk42 commented on #6
It seems that this has already been fixed, but the latest release (0.2.0) doesn't include those changes? I pulled the latest code from master and it works as expected.

[2015-11-06 19:14] eheydrick commented on #11
@multani the problem with check-es-node-status.rb is that ES 2.0 no longer returns status from /. Looking to see if it moved to a different endpoint or we need to grab status some other way.

[2015-11-06 19:47] eheydrick commented on #11
check-es-node-status works with ES 2.0 with https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/14.

[2015-11-06 20:03] eheydrick commented on #6
@lfrancois This plugin would need to be updated to work with ES 1.0+. I'd take a PR for the change you proposed above. Alternatively you could use metrics-es-node-graphite, which works with all versions of ES and collects way more metrics.

[2015-11-06 20:05] mattk42 commented on #6
Ah, I didn't see the difference between 'metrics-es-node-graphite' and 'metrics-es-node.rb'. That would be where my confusion was. Thanks!

[2015-12-15 20:49] cstockton commented on #6
This affected me too, I opened https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/19

[2015-12-29 17:24] cstockton opened #20 "Unbound wildcard range query cripples es on larger installs"
A couple weeks back when experimenting with the metrics api we suddenly had 40 ES nodes completely pegged on Mem/CPU/IO (and swapping). This lasted for around 6-8 hours before the cluster eventually returned to a healthy state. My past experience with lucene made me suspect this query may have been the cause but was unable to determine at the time if it was the issue. Ran again today a single time

[2015-12-29 18:09] cstockton commented on #20
Fixed

[2015-12-29 18:09] #20 closed

[2015-12-29 18:20] analytically commented on #6
Fixed in 0.3.1, can anyone confirm?

[2015-12-30 06:35] eheydrick commented on #6
Confirmed working on 1.7. It did not work on 2.x so I added support and released 0.3.2.

[2015-12-30 06:35] #6 closed

[2016-01-09 04:28] fatihcode opened #21 "Custom @timestamp field"
Hi All,

It would be nice if we could pass custom `@timestamp` (https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/master/lib/sensu-plugins-elasticsearch/elasticsearch-query.rb#L83) field name via arg. We are using a different timestamp field so it doesn't work for us. :/

For example: `check-es-query-count.rb -h elasticsearch.service.consul -d 'logging-%Y.%m.%d' --timestamp-field f

[2016-01-10 01:10] cmfatih commented on #21
( cc @eheydrick )

[2016-01-21 21:46] eheydrick commented on #21
That'd be a nice improvement. I'd take a PR for making the field configurable.

[2016-01-26 12:14] multani opened #25 "Unavailable cluster and node statistics"
I'm trying to upgrade my plugin to 0.4.0 and I face the following problem:

* [``metrics-es-cluster`` now tries to collect the ``filter_cache`` metrics](https://github.com/sensu-plugins/sensu-plugins-elasticsearch/commit/918907cba4ace7caab0fd05a57b5495a2d4c83fe#diff-f203641ef617e749f625475f3f1d489eR136) but for some reasons, although it is documented in Elasticsearch documentation, [it is not avai

[2016-01-26 14:22] multani commented on #25
So apparently [``filter_cache`` has been renamed in 2.0.0](https://github.com/elastic/elasticsearch/issues/16226) hence this Sensu handler will not work with these Elasticsearch versions and above.
I'm not sure about the CPU thing though, any opinion? /ping @ChelseaLura

[2016-01-26 18:26] eheydrick commented on #25
Thanks for the report @multani. We'll get this fixed up for the metrics in 2.x.

[2016-01-26 23:01] ChelseaLura commented on #25
Thanks for pointing this out. :)
Should be fixed, with backwards compatibility, in release 0.4.1. The details of the fix can be found in this [PR](https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/27)

[2016-01-26 23:02] #25 closed

[2016-01-27 07:58] multani commented on #25
Thanks for the quick fix @ChelseaLura!

[2016-02-15 13:33] hd-deman opened #29 "support ssl"

[2016-02-15 13:37] #29 closed

[2016-02-22 21:57] ajoas opened #30 "check_es_heap.rb tries to assign node from stats before stats is defined"
Example error:

outputCheck failed to run: undefined local variable or method `stats' for #<ESHeap:0x00000002d39c60>, ["/etc/sensu/plugins/check-es-heap.rb:110:in `acquire_heap_data'", "/etc/sensu/plugins/check-es-heap.rb:140:in `run'", "/opt/sensu/embedded/lib/ruby/gems/2.0.0/gems/sensu-plugin-1.2.0/lib/sensu-plugin/cli.rb:56:in `block in <class:CLI>'"]

=====
relevant code:
=====
  def acquire_h

[2016-03-04 08:29] eheydrick commented on #30
Fixed with #31

[2016-03-04 08:29] #30 closed

[2016-03-15 13:08] madhuatthomson opened #34 "How to pass querystring as argument to check-es-query-count.rb"
Hi,

Need help in understanding the format of the query string parameter. We tried couple of ways, but it seems to be ignored.

We are trying to find all logs with logger_name as "zzz"

We did below:

1> check-es-query-count.rb -h hhh -p 9200  -f  "logger_name.raw" --query "zzz" -d 'logstash-%Y.%m.%d' --invert
It returns incorrect result

2> check-es-query-count.rb -h hhh -p 9200  --query '{"query

[2016-03-15 19:41] madhuatthomson commented on #34
Doing a code walkthrough, i found that the query part gets ignored if timestamp filter is not provided. My query (#1 above)  worked with --minutes-previous 30 flag

[2016-03-15 19:41] #34 closed

[2016-03-16 14:06] agastya71 opened #35 "ES2.x Query DSL is not used in the /bin/check-es-query-count.rb script"
I tried using the query count plugin script to alert if a query count is not satisfied. However upon testing out and examine the code, the following two issues came up :

1. The Query DSL used to construct the query in elasticsearch-query.rb is not supported within ES2.x Query DSL. (filtered queries have gone the way of the dodo), instead the query needs to be modified to use a Bool query with a f

[2016-04-06 19:06] nakulpathak3 opened #36 "No Shield support"
https://www.elastic.co/products/shield <- Elastic introduced Shield for protecting Elasticsearch clusters. So, for a cluster without Shield, we'd be able to go
[code]
but with shield enabled and a shield user called "es_admin" (for example) configured, we'd need
[code]
Otherwise, elasticsearch would return a 401 Unauthorized response.
Any plans to add Shield support in the near future?

[2016-04-11 09:20] truptimali opened #37 "check-es-indexes.rb fails"
Check failed to run: undefined method `length' for nil:NilClass, ["/var/lib/gems/2.1.0/gems/sensu-plugins-elasticsearch-0.5.3/bin/check-es-indexes.rb:54:in`run'", "/var/lib/gems/2.1.0/gems/sensu-plugin-1.2.0/lib/sensu-plugin/cli.rb:56:in `block in class:CLI'"]

[2016-04-13 19:35] nakulpathak3 commented on #37
did you pass in an option -C with your cluster name? If so, could be the cluster doesn't exist or the name's wrong

[2016-04-27 05:18] eheydrick commented on #21
Custom `@timestamp` field added with https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/32 and released in 0.5.3.

[2016-04-27 05:18] #21 closed

[2016-05-18 07:38] chrisduong opened #40 "[metric-es-node-graphite] jvm_stats max_heap_size_in_bytes already done by Elasticsearch"
Hi,

I'm using Elasticsearch v1.4.4 and I like this plugin. I recognized that the _"jvm_stats max_heap_size_in_bytes"_ has been already done by ES. The _"max_in_bytes"_ has the same value.

[code]

And one more, adding _"used_in_bytes"_ for each _pool_ is also useful, so we can see how GC work in real time, we can see the _"GC frequency and duration"_ as from [_ES official guide_](https://www.elas

[2016-05-28 07:26] majormoses opened #41 "Check File Descriptors useage should not break on 503s"
When getting a 503 it should rescue:
[code]

I am not sure how we should handle it, I am leaning towards making it an unknown rather than a critical as you probably have other checks that are more suited to see if its up. Before implementing I think I should see what others think.

[2016-07-06 18:28] z-matth opened #42 "elasticsearch gem v 1.0.18 conflicts with 1.0.14"
running

`/opt/sensu/embedded/bin/ruby /etc/sensu/plugins/sensu-plugins-elasticsearch/bin/check-es-cluster-health.rb`

was throwing this error:

It seems my system had installed ruby gems 1.0.18  and 1.0.14 by default. To fix this I uninstalled all versions:

`sudo /opt/sensu/embedded/bin/gem uninstall elasticsearch`
`sudo /opt/sensu/embedded/bin/gem uninstall elasticsearch-transport`
`sudo /opt/s

[2016-07-08 07:50] majormoses commented on #41
I was using 0.3.0 I am testing now with latest and am not seeing the issue although I see no changes to error handling maybe my test is not good enough I will upgrade and see if I can replicate in one of our environments.

[2016-07-08 08:50] majormoses commented on #41
created #43 to fix. I am open to other ideas.

[2016-07-08 09:47] majormoses opened #44 "check-es-circuit-breakers.rb should look at local only stats?"
In check-es-circuit-breakers.rb we use `/_nodes/stats/breaker` here: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/78c7e96639061179e4a6278fbc18fa3be32e5efc/bin/check-es-circuit-breakers.rb#L97 I think it makes more sense to have each node be responsible for itself by using `/_nodes/_local/stats/breaker` either as an option (with a default to not local to avoid breaking existing

[2016-07-13 03:01] majormoses commented on #41
closed via: #43

[2016-07-13 03:01] #41 closed

[2016-07-16 15:08] #44 closed

[2016-07-16 15:19] majormoses commented on #42
@z-matth is this from a fresh setup? How are you getting sensu and its sensu gems installed? I am not seeing this in any of my environments. I will try working on replicating but have so far been unable to replicate. It is likely related to this: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/master/sensu-plugins-elasticsearch.gemspec#L42 which uses a hard version lock rather th

[2016-07-16 15:34] majormoses commented on #42
@z-matth can you try using my fork locally to test? as I can't replicate I cant verify if this would fix your scenario.

[2016-07-20 04:22] #7 closed

[2016-07-21 16:39] majormoses commented on #40
@chrisduong sounds like something we want, do you have a pr for review?

[2016-07-27 01:57] majormoses opened #47 "Release new version"
I see several enhancements: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/54a38dddf66919665e2c345812aa712ee6d88a0f/CHANGELOG.md#added  that I feel people would want to have available and constitute a minor version bump. Any chance we could have a release?

[2016-07-27 07:18] eheydrick commented on #47
Working on cutting a new release.

[2016-07-27 09:11] eheydrick commented on #47
Apart from a few CHANGELOG updates and merging #46 the release is ready to go.

[2016-07-27 18:01] #42 closed

[2016-07-27 18:02] eheydrick commented on #42
@majormoses's fix will go out in the next release soon.

[2016-07-29 17:25] majormoses commented on #47
@eheydrick I see everything is merged is there anything else preventing a release?

[2016-07-29 17:30] eheydrick commented on #47
Nope, just a matter of finding the time to do it. Aiming to have it out today.

[2016-07-29 17:31] majormoses commented on #47
thanks

[2016-07-29 18:50] eheydrick commented on #47
1.0.0 is out on rubygems.

[2016-07-29 18:50] #47 closed

[2016-09-21 21:03] kaushiksriram100 opened #48 "es conflict with check-es-query-count.rb"
When I attempt to run the check-es-query-count.rb I end up getting this error:

[root@server tmp]# /opt/sensu/embedded/bin/ruby /opt/sensu/embedded/lib/ruby/gems/2.2.0/gems/sensu-plugins-elasticsearch-1.0.0/bin/check-es-query-count.rb -h
Usage: /opt/sensu/embedded/lib/ruby/gems/2.2.0/gems/sensu-plugins-elasticsearch-1.0.0/bin/check-es-query-count.rb (options)
/opt/sensu/embedded/lib/ruby/2.2.0/rub

[2016-09-30 21:34] TheKevJames opened #49 "`metrics-es-node-graphite.rb` creates some metrics un-parseable by graphite"
I'm currently using this plugin to send metrics to Graphite; it's been mostly smooth sailing, but I've been getting a bunch of repeating warnings in my Carbon logs that I think can and should be cleaned up.

Carbon logs:

[code]

Basically, Graphite does not support "true" or "false" for metrics -- it instead uses "1" and "0". Since these logs are generated from running `metrics-es-node-graphite.r

[2016-09-30 21:49] TheKevJames opened #50 "Missing ElasticSearch metrics cause formatting issues with metric collection"
As I mentioned in #49, I'm currently using this plugin to send metrics to Graphite; it's been mostly smooth sailing, but I've been getting a bunch of repeating warnings in my Carbon logs that I think can and should be cleaned up.

Carbon logs:

[code]

Unlike the linked issue, this has to do with _missing values_: the ElasticSearch [health query](https://github.com/sensu-plugins/sensu-plugins-elas

[2016-10-06 10:06] guptaishabh opened #52 "Incorrect months-previous Bug"
In check-es-query-count.rb and elasticsearch-query.rb, Incorrect seconds are decremented from the start_time.
for every month, it is deducting 7 month.

`if config[:months_previous] != 0
        start_time -= (config[:months_previous] * 60 * 60 * 24 * 7 * 31)
      end`

[2016-10-19 15:56] #36 closed

[2016-10-24 23:40] z-matth commented on #42
Verified. Fix works. Thx!

[2016-11-14 22:32] christianherro opened #53 "check-es-heap fails with 400 in Elasticsearch 5.0.0"
Starting a new cluster with Elasticsearch 5.0.0 and existing working sensu checks produces the output below when running check-es-heap.

[code]

This seems to be the result of the inclusion of "?jvm=true" in lines 125 & 127. Running ```curl http://foo.bar:9200/_nodes/_local/stats?jvm=true``` throws a 400 error -- ```request [/_nodes/_local/stats] contains unrecognized parameter: [jvm]``` while rem

[2016-11-14 23:08] christianherro commented on #53
Pull request created, changes are minimal, but very willing to take feedback on my first public pull request or anything I missed.

https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/54

[2016-11-14 23:27] #53 closed

[2016-11-14 23:27] christianherro commented on #53
Closed, pull request was merged.

[2016-11-14 23:36] eheydrick commented on #53
Fix released in 1.1.0, which is now live on rubygems.

[2016-11-23 21:22] woqer opened #55 "check-es-file-descriptors is responding with 400 on ES 5"
The API request done on this check is failing on Elasticsearch v5.0.1... Already preparing a PR with a fix

[2016-11-26 21:16] eheydrick commented on #55
Fix released in 1.1.1, which is now live on rubygems.

[2016-11-26 21:16] #55 closed

[2016-12-01 15:51] captnbp opened #57 "Incompatibility with ES 5.0"
Hi,

Here are the one which works fine :
- check-es-indexes.rb
- check-es-cluster-status.rb
- check-es-file-descriptors.rb
- check-es-circuit-breakers.rb
- metrics-es-node.rb

But the others are not yet fixed. I got error 400 issues with (with last gem version sensu-plugins-elasticsearch-1.1.1) :
- metrics-es-node-graphite.rb
- metrics-es-cluster.rb
- check-es-shard-allocation-status.rb

Ex: `Chec

[2016-12-05 13:50] fxp0 commented on #57
check-es-query-count.rb with option "--minutes-previous" also raise error 400.

[2016-12-12 20:36] msblum opened #58 "base64 conversion causes netty exception in elasticsearch client"
The Base64.encode64 method used in many of these checks will add a newline character to the encoded string if the username:password string is over 60 characters. This doesn't get caught by chomp unless the 61st character happens to be the last one. Credentials encoded in this fashion and sent to authenticate to ES shield then get a "java.lang.IllegalArgumentException: Header name cannot contain th

[2016-12-13 17:36] woqer opened #61 "metrics-es-node-graphite is responding with 400 on ES 5"
Fix: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/60

[2016-12-28 14:01] osigida commented on #61
could we have a release please?

[2016-12-28 14:02] osigida commented on #57
looks same to https://github.com/sensu-plugins/sensu-plugins-elasticsearch/issues/61
was fixed by https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/60

[2016-12-29 04:57] nnsaln commented on #61
I still got this issue today

[2016-12-29 09:29] osigida commented on #61
@nnsaln sure, we need a release with the fix first

[2016-12-30 00:09] #57 closed

[2016-12-30 00:10] eheydrick commented on #61
Working on a new release.

[2016-12-30 00:27] eheydrick commented on #61
The ES 5+ fixes are in 1.1.2 now live on rubygems.

[2016-12-30 00:27] #61 closed

[2017-01-04 04:31] nnsaln commented on #61
Hi, I still got
Check failed to run: 400 Bad Request with new  release 1.1.2 rubygems

[2017-01-04 21:15] eheydrick commented on #61
@nnsaln Can you try 1.1.3. It has more fixes for ES5.

[2017-01-05 11:49] ptqa commented on #61
1.1.2 didn't work for us, but 1.1.3 works fine!

[2017-01-05 19:18] tmonk42 opened #64 "Support for AWS Signed Requests"
I'm working on setting up monitoring of AWS ElasticSearch, and for a variety of reasons, it would be great if I could use AWS Signed Requests in many of the ES plugins. Support for this already exists in some of the plugins in this repo. For examples of checks that work, see check-es-cluster-health.rb, check-es-query-count.rb for examples that support "--transport AWS"). I'd love to be able to thi

[2017-01-06 20:29] eheydrick commented on #64
Hey @tmonk42 I think it would be useful to have AWS transport support across all the checks. Best if it could be added in a backwards compatible way.

[2017-01-06 22:35] tmonk42 commented on #64
Cool, backwards compatibility will certainly be the trick here. Any pointers on how to test/validate that?

[2017-01-06 22:43] eheydrick commented on #64
You can start up a local elasticsearch instance and point the checks at it.

[2017-01-17 19:06] tmonk42 commented on #64
Word, had a short hiccup with getting ES5 in Docker, but I'm setup now to do testing against ES 0.90.latest, 1.7.6, 2.4.3, and 5.1.1. I'll also be testing against ES 1.5 and 2.3 in AWS to validate the AWS transport/signed requests option.

[2017-01-17 20:08] eheydrick commented on #64
Cool. You can skip 0.90 - we don't support it anymore.

[2017-01-17 22:35] tmonk42 opened #65 "Support current versions of aws-sdk"
After this PR is merged https://github.com/cdunn/aws-es-transport/pull/2 we should be able to remove the restriction on aws-sdk version that was added in here: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/commit/1802655b768c99b575309dfc1cdce215a522f749

[2017-01-17 22:40] tmonk42 commented on #64
Cool. I believe we're going to need updated aws-es-transport in order for my refactor to work, see https://github.com/sensu-plugins/sensu-plugins-elasticsearch/issues/65.

I just ran through testing my rewrite of check-es-heap.rb and it looks solid. See WIP here: https://github.com/tmonk42/sensu-plugins-elasticsearch/commits/more_aws_transport

./test.rb
DEBUG es_ver: ["0.90.13"]
DEBUG stats.nodes

[2017-01-19 20:04] tmonk42 commented on #65
Actually, after further investigation, it looks like aws-es-transport v0.1.4 is out on rubygems, but not here on github. v0.1.4 includes the fixes for aws-sdk >=2.5.

[2017-01-23 11:32] driegel opened #66 "check-es-shard-allocation-status.rb & Elasticsearch 5.x"
Hello,

using check-es-shard-allocation-status.rb causes an error w/ Elasticsearch 5.x (I am using 5.1.2.):

[code]

The reason is the url in line 65:

Running this against Elasticsearch 5.x causes the following error:
[code]

Thank you for looking into this.

[2017-01-24 18:23] tmonk42 commented on #64
I've got this working for about a half dozen plugins we're actively using, however, it only works with my forked copy of aws-es-transport. Until this PR is merged and a new version of that gem is released, I'm afraid it will provide a very bad user experience.

https://github.com/cdunn/aws-es-transport/pull/2

[2017-03-07 17:59] tmonk42 commented on #64
@eheydrick So the PR I have against aws-es-transport has been sitting there idle since mid-January. When I checked on rubygems.org, the only dependancy on that gem is sensu-plugins-elasticsearch: https://rubygems.org/gems/aws-es-transport/reverse_dependencies

I'm wondering if maybe we ought to pull that code into this project directly so we can get these updates rolling...

[2017-04-28 09:39] hwatts opened #71 "Compatibility with sensu-plugin 2.0.0"
I'm getting an error running checks with the latest sensu plugin version. It works if the plugin's downgraded to 1.4.5.

Are there any plans to support this?

`/opt/sensu/embedded/bin/ruby /etc/sensu/plugins/elasticsearch/check-es-cluster-health.rb
/opt/sensu/embedded/lib/ruby/site_ruby/2.4.0/rubygems/specification.rb:2288:in raise_if_conflicts': Unable to activate sensu-plugins-elasticsearch-1.1.

[2017-05-03 01:45] majormoses commented on #71
@hwatts thanks for reporting this, quite a few of the checks need to be updated to use 2.x @mattyjones any idea on when we are looking to start bumping the requirements on sensu-plugin?

[2017-05-03 01:48] majormoses commented on #50
@TheKevJames would you be willing to put togethor a pr on this for me to review?

[2017-05-03 01:51] majormoses commented on #48
we have pinned it here: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/master/sensu-plugins-elasticsearch.gemspec#L37 we can either bump it there or you can remove that version. Could you put together a pr to bump the version?

[2017-05-03 01:53] majormoses commented on #37
closing due to inactivity please feel free to re-open if you have issues.

[2017-05-03 01:53] #37 closed

[2017-05-03 07:51] eheydrick commented on #71
@hwatts I see you're executing the check outside the embedded ruby dir. If you execute it using the binstub in the embedded ruby (e.g. `/opt/sensu/embedded/bin/check-es-cluster-health.rb`) it'll load with `sensu-plugin` 1.4.5 and execute properly. sensu 0.29 includes both sensu-plugin 1.4.5 and 2.x so that should be all you have to do.

[2017-05-03 07:57] eheydrick commented on #71
@majormoses i think given that 0.29+ ships with 2.x we can start targeting it. We'll want to bump it in a major release since there are some potentially breaking changes. @cwjohnston any thoughts?

[2017-05-04 01:35] majormoses commented on #66
@driegel this should be fixed as of `1.2.0` can you verify?

[2017-05-04 01:38] majormoses commented on #52
@guptaishabh any chance you will have some time to submit a pr to fix?

[2017-05-04 07:18] majormoses commented on #71
I think we should then but all plugins to `s.add_runtime_dependency 'sensu-plugin', ['>= 1.2', '< 2.0']` before cutting a major release with 2.x

[2017-05-04 08:04] driegel commented on #66
@majormoses Thank you. It's fixed now.

[2017-05-04 08:04] #66 closed

[2017-05-04 08:26] guptaishabh commented on #52
Sure, Will do it in some time.

On Thu, May 4, 2017 at 7:08 AM, Ben Abrams <notifications@github.com> wrote:

--
*Thanks & Regards*
*Ishabh Gupta*

[2017-05-07 17:33] majormoses commented on #58
I am supportive of this change, please update your pr as requested.

[2017-05-07 17:35] majormoses commented on #49
Do you think you could submit a pr?

[2017-05-07 17:41] majormoses commented on #48
@eheydrick our dependency on 1.x is quite old, I am tempted to say we should try to bump it all the way to 5.x if possible if not we should go to at least 2.x

[2017-05-08 04:26] eheydrick commented on #48
As long as it works on all the versions we support - 1.x, 2.x, and 5.x, I'm cool with moving it to a newer version.

[2017-05-08 04:35] eheydrick opened #73 "Add tests"
We should add tests for these plugins. This will help catch issues that arise when Elasticsearch makes breaking changes. It will also ensure quality when we make changes, such as a change to the elasticsearch gem version. The tests should be executed against all versions of ES that we support, which is currently 1.x, 2.x, and 5.x.

[2017-05-08 05:32] majormoses commented on #48
@eheydrick Understood and hope we can maintain support for all 3, however we might want to drop 1.x if it causes issues as its now technically EOL.

https://www.elastic.co/support/eol
[code]

[2017-05-09 02:39] majormoses commented on #73
I would say that ES has EOL 1.x so we should drop support on it and we should focus on 2.x and 5.x: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/issues/48#issuecomment-299776709

[2017-05-09 02:39] majormoses commented on #73
oops accidental close...

[2017-05-09 02:48] majormoses commented on #58
closed via: https://rubygems.org/gems/sensu-plugins-elasticsearch/versions/1.3.0

[2017-05-09 02:48] #58 closed

[2017-05-09 06:14] majormoses commented on #48
@kaushiksriram100 would you be willing to try bumping the dependencies and testing?

[2017-05-09 21:17] kaushiksriram100 commented on #48
@majormoses : Sure I can try, am a beginner to ruby gems so would need some pointers.

What do you think about this dependency for aws-es-transport? Looks like that is dependent on elasticsearch >= 1.0.10, ~> 1.0
https://rubygems.org/gems/aws-es-transport

I am getting this error after bumping up es gem version in the gemspec

L-SNVJ0NCFFT-M:sensu-plugins-elasticsearch skaush1$ gem install ./sensu

[2017-05-09 21:30] majormoses commented on #48
More than happy to help.

` s.add_runtime_dependency 'elasticsearch', ['>= 2.0.0', '~> 2.0.0']` means greater than or equal to 2  and grater than 2 but less than 3 so that is essentially the same as `~> 2`. In our case to support all three we would need to open it up to `'>= 1.0.10'` to satisfy the constraints of any ES 1.x, 2.x, and 5.x as well as match the version constraint of aws-es-transport.

[2017-05-10 05:33] majormoses commented on #35
@agastya71 could you put togethor a pr with the proposed changes and we can further discuss there?

[2017-05-10 17:47] kaushiksriram100 commented on #48
@majormoses got it. Is this reasonable? https://github.com/kaushiksriram100/sensu-plugins-elasticsearch/blob/master/sensu-plugins-elasticsearch.gemspec#L37

However, I get a warning when I build the gem because there is no upper bound version -

L-SNVJ0NCFFT-M:sensu-plugins-elasticsearch skaush1$ gem build sensu-plugins-elasticsearch.gemspec
WARNING:  open-ended dependency on elasticsearch (>= 1.0

[2017-05-10 18:29] majormoses commented on #48
I dont think we do... @eheydrick am I missing something?

[2017-05-10 18:44] majormoses commented on #48
I am guessing that when `< 2.5` was added no one removed the `~> . 2.1`

[2017-05-10 19:25] kaushiksriram100 commented on #48
@majormoses : one last question for this thread: What determines which version of ES should get installed. For example when I run the gem I see

Fetching: elasticsearch-1.1.2.gem (100%)
Successfully installed elasticsearch-1.1.2

What determines that es-1.1.2 (this specific version) has to be installed?

[2017-05-10 19:31] majormoses commented on #48
I need to honestly play with this as I am not used to ever trying to support multiple major versions of a gem and usually support 1 major at a time. My guess prior to seeing your output would be that it will install the highest that satisfies constraints but that does not appear to be the case.

[2017-05-10 20:57] majormoses commented on #48
I will try to get to playing with this tonight.

[2017-05-11 05:40] eheydrick commented on #48
@majormoses, the aws-sdk `'~> 2.1'` bit looks extraneous and can be removed.

[2017-05-11 05:46] majormoses commented on #48
@eheydrick that would make this break all the checks that rely on the aws-transport gem which I do think we need to do something about anyways as it's old and does not seem to be maintained.

https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/e8779562e9bdc4709d27c0b7070fa849501e2bc7/CHANGELOG.md#L40

Here are the related issues:
- https://github.com/sensu-plugins/sensu-plugins-elast

[2017-05-11 05:48] eheydrick commented on #48
@kaushiksriram100 I see you're executing the check from the gems directory. What happens if you execute it using the binstub e.g. `/opt/sensu/embedded/bin/check-es-query-count.rb`? That should select the correct dependency. Can you paste the output of `/opt/sensu/embedded/bin/gem list |grep elasticsearch`. Wondering if there's something up with the gems installed in the embedded ruby.

[2017-05-11 05:53] eheydrick commented on #48
@majormoses the aws transport requirement is just `< 2.5` from what I can see. `['>= 2.1.14', '< 2.5']` should cover that.

[2017-05-11 05:55] majormoses commented on #48
yes that was what I was saying here: https://github.com/sensu-plugins/sensu-plugins-elasticsearch/issues/48#issuecomment-300576773 My previous comment was when you said drop the it I somehow did not connect the dots that you only meant that version.

[2017-05-22 06:59] guptaishabh commented on #52
Created Pull #75

[2017-06-30 13:25] fsniper opened #77 "metrics-es-node-graphite.rb outputs malformed lines for fs_stats"
The following lines are incompatible with carbon input.

[code]

These json values should be seperated into multiple lines like
[code]

[2017-06-30 20:44] tmonk42 commented on #64
Looks like aws-es-transport got my PR merged, now we need a version bump and publish to rubygems for that project, then it should be safe to add my work to this project :)

[2017-06-30 20:50] majormoses commented on #64
@tmonk42 if at all possible I would like to wait as I have another pr https://github.com/cdunn/aws-es-transport/pull/5 open against that as its dependencies are super restrictive and either they need to be loosened or we are gonna have to remove support for it all together.

[2017-07-01 16:57] Evesy commented on #49
Is this something that could be incorporated into https://github.com/sensu-plugins/sensu-plugin/blob/master/lib/sensu-plugin/metric/cli.rb to cover this issue across the board, or would it be better to just do on a per metric check basis when needed?

[2017-07-01 17:04] majormoses commented on #49
I am not sure we want to blindly make that across the board, that being said if we added a helper function then it could be check specific and could maybe make it act something like this:
[code]

I think this gives us the best of both worlds, make peoples lives easier and give max flexibility.

[2017-07-02 04:38] majormoses commented on #52
closed via #75

[2017-07-02 04:38] #52 closed

[2017-07-02 13:09] Evesy commented on #49
Sorry, were you thinking a helper function within the scope of this plugin, or one within the Sensu plugin graphite class?

[2017-07-02 14:30] majormoses commented on #49
within the `sensu-plugin` gem this way it could be used across all plugins where it makes sense. I will make the example above a bit more clear.

[2017-07-02 16:13] Evesy commented on #49
@majormoses Would you mind having a quick glance at https://github.com/Evesy/sensu-plugin/commit/7fd2b4c930cb77feb4d7d9a59858c315c3fb2615 to see if it's anything near what you were thinking?

[2017-07-02 16:38] majormoses commented on #49
yup that is what I had in mind. Ping me when you create the PR and link it to this issue.

[2017-07-02 20:39] majormoses commented on #77
@fsniper thanks for reporting, can you give us a little bit more information on the following:
- version of sensu
- version of elasticsearch
- anything else that is relevant about your setup

[2017-07-02 23:57] majormoses commented on #71
As a prerequisite to cutting from 1 to 2 I am going around to all the repos in 2 passes [1] to ensure ruby 2.4 support as it will be a nightmare if only some of the gems are bumped to 2.x and will leave people in very broken states where they can only monitor half (probably less tbh) of their infra.

[1] Adding testing for install time in ruby 2.4 (in progress, the gems listed do not in) and after

[2017-07-04 14:57] fsniper commented on #77
sensu version: sensu-0.29.0-11.el7
elasticsearch version:
[code]
Elastic search is running as a dc/os service

[2017-07-04 15:22] majormoses commented on #77
@fsniper just to confirm (my guess is yes) do you see this when using 0.28 or lower? 0.29 (yes there will soon be a 1.x release and sensu will start following semver) had a lot of breaking changes centered around the ruby bump from 2.3 to 2.4 (languages never follow semver and minor versions have breaking changes) so I am recommending that you pin to 0.28 until the plugins can officially support t

[2017-07-13 09:20] fsniper commented on #77
This is from 0.29. Do you think these are caused by 0.29? @majormoses

[2017-07-13 15:47] majormoses commented on #77
It's possible though I honestly think it's unlikely, can you try running the same command locally with ruby 2.3 to rule out issues with ruby 2.4?

[2017-07-20 09:32] jothoma1 opened #82 "check-es-cluster-health warning ::Fixnum"
Hello,
i'm using your plugins with sensu 1.0 and the check-es-cluster-health.rb return a warning :

/opt/sensu/embedded/lib/ruby/gems/2.4.0/gems/elasticsearch-transport-1.0.18/lib/elasticsearch/transport/transport/base.rb:54: warning: constant ::Fixnum is deprecated
ESClusterHealth CRITICAL: Cluster state is Red

Thanks in advance

[2017-07-24 20:43] Evesy commented on #82
This will be affecting anyone using this plugin on Ruby 2.4.0; caused by the dependency on the elasticsearch gem. It looks like it's already been fixed [upstream](https://github.com/elastic/elasticsearch-ruby/commit/9a7ab20783a3c5a7746f227f4e16ba95356a1f01) however this plugin pins an older version of the gem.

@majormoses You're probably already aware but one to note for the 2.4.1 testing -- To r

[2017-07-24 21:50] majormoses commented on #82
I checked and we can bump to 2.x when I have some time I can try bumping this I am more concerned about the lack of testing in this plugin so it will require lots of testing against multiple versions of ES so we know what breaks on what versions.

[2017-07-26 07:03] eheydrick commented on #82
#73 for adding tests.

[2017-07-31 21:34] PatelParas opened #84 "Create Grafana Dashboard to visualize metrics"
We have metrics collection scripts:

[code]

It would be great if someone create/share Grafana Dashboard template to fetch data form influxdb or anyother popular timeseries DB.

[2017-08-03 22:02] TheKevJames commented on #50
Sorry this took so long to get around to, see PR #85

[2017-08-04 02:25] #50 closed

[2017-08-09 03:54] majormoses commented on #84
@PatelParas we try to keep github issues for bugs or enhancements, I would suggest perhaps joining the [community slack](http://sensucommunityslack.herokuapp.com/) or [google group](https://groups.google.com/forum/#!forum/sensu-users) and asking around.

[2017-08-09 03:54] #84 closed

[2017-08-09 14:35] mbbroberg commented on #84
Hey @PatelParas, there is definitely a need to think about your dashboarding after data is passed by Sensu. You can ask other members of the Sensu community how they visualize theirs in one of the channels @majormoses shared.

[2017-08-14 11:03] cgarciaarano opened #87 "Ignore error when divisor = 0 in check-es-query-ratio"
There are cases when performing a ratio check could end with a 0 in the divisor. For example, get the percentage of 5xx errors in Apache (nº of 5xx error/nº of requests). If we don't have any request yet, the divisor will be 0 and the check will fail with `critical`.

I think it would be useful to have a config flag that let the check fail without alerting. I have added the option `-z, --zero` in

[2017-08-17 16:02] cgarciaarano opened #88 "check-es-query-ratio performs integer division"
Hi there,

there are some use cases where this plugin will fail because the integer division.

For example, to get a percentage, you need to divide by the total number of occurrences. That means that the result will be always between 0 and 1. Currently the result is handled as integer, so the only possible values are 0 or 1.

[2017-08-17 20:15] majormoses commented on #88
closed via #89

[2017-08-17 20:15] #88 closed

[2017-08-21 09:07] cgarciaarano opened #91 "check-es-query-ratio don't support float thresholds"
Current version doesn't support float thresholds, so if you define:

`check-es-query-ratio.rb -w 0.1 -c 0.5 ...`

the effect is that both thresholds are 0.

[2017-08-25 06:38] eheydrick commented on #91
Fix released in 1.6.1.

[2017-08-25 06:38] #91 closed

[2017-08-25 09:17] #87 closed

[2017-09-17 21:33] rwky opened #95 "check-es-cluster-status.rb is broken"
I'm not entirely sure of the intent behind the `--alert-status` flag however it's broken, it will never trigger an alert.

https://github.com/sensu-plugins/sensu-plugins-elasticsearch/blob/master/bin/check-es-cluster-status.rb#L148-L154 `options` need replacing with `config` and I imagine the  `!` needs removing and `==` needs replacing with `!=`.

I'm happy to create a PR if the above is correct.

[2017-09-18 11:02] driegel commented on #95
I have about 10 machines that check  check-es-cluster-status.rb with version 1.7.0.  The final check result is RED although everything is fine with elasticsearch!!! To me it means, that version 1.7.0 is broken and needs to be fixed quickly! Thanks.

[code]

One remark: before I used version 1.2.0 and 1.6.1 ant that versions worked fine.

[2017-09-18 13:43] barrebre commented on #95
@rwky If it is broken, please release a PR against it

[2017-09-18 13:45] barrebre commented on #95
The intent behind the flag is so that you can send different thresholds to different handlers. For instance, I don't want to be paged on a yellow status but would like to be notified through a message, and visa-versa.

[2017-09-18 15:53] rwky commented on #95
Righty-ho now I know the intent I'll create a PR in a bit.

[2017-09-18 17:03] majormoses commented on #95
@rwky ping me when you have a PR to review and release. I will yank the gem from rubygems.org.

[2017-09-18 17:06] majormoses commented on #95
Yanked: https://rubygems.org/gems/sensu-plugins-elasticsearch/versions/1.7.0

[2017-09-18 18:00] rwky commented on #95
PR created it should address the feature @barrebre wants and preserve the old functionality of alerting on all statuses when --alert-status is blank

[2017-09-18 18:17] #95 closed

[2017-09-18 18:28] majormoses commented on #95
released: https://rubygems.org/gems/sensu-plugins-elasticsearch/versions/1.7.1

[2017-10-07 18:31] majormoses commented on #49
So the upstream plugin has the library function now we just need to call it.

[2017-10-07 18:33] majormoses commented on #49
Actually just checking is there anything else we need done here?

[2017-10-07 19:17] TheKevJames commented on #49
@majormoses This issue is fixed for me with the merge of #85 into release 1.5.1. Not sure what the bool-to-int method had to do with this issue, in the end, but always nice to see functionality like that upstream. :)

[2017-10-07 19:17] #49 closed

[2017-10-12 07:36] piotrkotowski opened #97 "Percolator stats and ES 5.4.1"
Hi,
 I am having issues with using:

[code]

Running with sensu 1.1.0-1 and gems as follows:

[code]

On Ubuntu 16.04 (if that matters ;) ).

Can you pls let me know is it related to the ES or sensu version (ruby 2.4) that I am using? Do you plan to fix it in near future?

Pls let me know if you need more information.

Thanks a lot!

[2017-10-12 07:39] barryorourke commented on #97
I can reproduce the above error using the same version of sensu and the plugin on RHEL.

[2017-10-28 17:57] majormoses commented on #97
I would guess that the metrics returned differ on various versions of elasticsearch. I do not have the time to triage this right now but this plugin needs some love as I know it has started getting `bitrot` with regards to version support and someone needs to put in the effort to improve this.

[2017-11-03 13:47] cihangirbesiktas opened #98 "cluster level heap usage support missing"
It seems that check-es-heap.rb looks for a single elastic search host's heap usage. Could you add support for the usage of cluster wide heap usage. The check could rise alert when any of the cluster node use heap memory above the threshold.

[2017-11-04 18:14] majormoses commented on #98
It could certainly be done, but I don't have the time to work on this but I would be open to reviewing a PR. I'd probably want to move more logic to library functions first to make it a bit easier to refactor.

[2017-11-13 17:18] cihangirbesiktas commented on #98
I added support for that and created a PR, could you review?

[2017-11-28 05:11] Blue0ctober opened #100 "Adding flag to disable "ask validation""
When running `check-es-node-status` on a cluster with SSL enabled that is using self signed certs, the check will fail with the following:
`Check failed to run: SSL_connect returned=1 errno=0 state=error: certificate verify failed`

The plugin should have a flag to allow skipping the validation of the cert for use cases where you would use self signed certs instead of signed certs.

[2017-11-29 09:00] csoleimani commented on #100
https://github.com/sensu-plugins/sensu-plugins-elasticsearch/pull/101/

Made this so you can pass in a cert instead of completely skipping validation

[2017-11-30 14:33] exeral opened #102 "update rest-client dependency"
Hi,

I'm getting troubles while trying install this plugin with other plugins (like sensu-plugins-http)

This plugin has a strict dependency on rest-client = 1.8.0 which is a 2 years old outdated version.
Maybe we could bump the rest-client version dependency ?
I don't know if rest-client has breaking changes for this plugin...

thanks

[2017-12-03 20:23] majormoses commented on #98
closed via #99 and released in: https://rubygems.org/gems/sensu-plugins-elasticsearch/versions/1.8.0

[2017-12-03 20:23] #98 closed

[2017-12-21 14:37] cyrilgdn commented on #77
We have the same issue with Ruby 2.3 and sensu-plugins-elasticsearch 1.8.0

[2017-12-21 18:53] majormoses commented on #64
Due to lack of responsiveness I am setting a deadline for this. By Feb, 01, 2018. If we have not had those dependencies met by then either by merging or forking, renaming, and publishing another gem we will need to remove any code that depends on that gem.

[2017-12-29 23:30] majormoses commented on #100
Much better to provide a cert than to disable validation. Make sure to use token substitution and redaction to ensure that it does not leak through logs or external handlers.

[2018-01-18 11:28] stefan-as opened #103 "check-es-query-count fails on Elasticsearch6"
Seems like Elasticsearch6 refuses `application/x-www-form-urlencoded` http queries:
[code]

[2018-01-26 06:29] majormoses commented on #103
Thanks for reporting this, do you think you would have the time to try adding an option to allow specifying the content type?

[2018-01-26 18:58] majormoses opened #104 "New check to alert if number of fields for an index is too high"
Context:
In Elasticsearch 5 they put a hard limit of 1000 fields per index, while in an ideal world app developers would think about this use case and properly handle it the reality is often that they are under pressure to move fast and deal with issues later. Basically in addition to creating critical alerts when it does exceed we should have earlier warnings so that if we get too many operations

[2018-01-26 23:29] majormoses opened #105 "New check to alert if mappings are too deep"
In ES5 they added limits to the number of nested mappings by default 20

See: https://github.com/elastic/elasticsearch/pull/17400

[2018-01-26 23:39] majormoses opened #106 "New check for indices that have too many nested fields"
In ES5 there are new limits, see: https://github.com/elastic/elasticsearch/issues/14983

[2018-01-26 23:41] majormoses opened #107 "New check for number of shards for the whole cluster"
In ES5 they limit the number of shards to 1000 * number of nodes add a new check to warn users when approaching thresholds.

[2018-01-31 07:46] shankerbalan commented on #103
Hi @majormoses,

Since am running into the same issue after an upgrade, what should be the content type that needs to be set?

@shankerbalan

[2018-02-07 06:09] eheydrick commented on #103
It should be set to `Content-Type: application/json`. ES6 does [strict content-type checking](https://www.elastic.co/blog/strict-content-type-checking-for-elasticsearch-rest-requests).

[2018-02-07 08:16] majormoses commented on #103
Sorry I missed this but yes pretty much everything dealing with es uses json.

[2018-02-16 03:55] #97 closed

[2018-02-16 16:44] eheydrick commented on #97
Fixed in 1.8.1.

[2018-02-21 18:42] alexandrustaetu commented on #103
Hello,

Looks like this is fixed with with https://github.com/elastic/elasticsearch-ruby/commit/76f86793cde0a0e7e816a743c73f69002a53483e#diff-b1922392c370e21793167c8dafa56a62. Because sensu-plugins-elasticsearch uses aws-es-transport ( https://rubygems.org/gems/aws-es-transport/versions/0.1.4 ) which depends on elasticsearch >= 1.0.10, ~> 1.0, the above fix cannot be used ( elasticsearch-ruby 5 ).

[2018-04-10 07:08] stefan-as commented on #103
Works for me with version 2.0.1.

[2018-04-10 07:08] #103 closed

[2018-10-16 01:10] jspaleta opened #116 "Update sensu-plugin conservative dep 2.7 to pick up new Sensu 2 event data mapping"
sensu-plugin 2.7 has new logic to aid mutators and handlers map sensu 2 event data into sensu 1.x event data. When updating need to use conservative dep so that 2.7.x patch releases will satisfy runtime dependency.

[2018-10-25 05:08] majormoses commented on #107
In https://github.com/elastic/elasticsearch/pull/34021 they merged and will be something that affects 6.5 as a warning and will be prevented in 7.0 without a log message making this very important.

[2019-01-01 06:51] dependabot[bot] opened #127 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:51] dependabot[bot] opened #128 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:51] dependabot[bot] opened #129 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:51] dependabot[bot] opened #130 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:51] #129 closed

[2019-01-01 06:51] #130 closed

[2019-01-01 12:35] #128 closed

[2019-01-01 12:35] dependabot[bot] opened #131 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:35] #131 closed

[2019-01-01 12:35] dependabot[bot] opened #132 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:35] #132 closed

[2019-01-01 12:35] dependabot[bot] opened #133 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:35] dependabot[bot] opened #134 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:35] dependabot[bot] opened #135 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:35] dependabot[bot] opened #136 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:35] #133 closed

[2019-01-01 13:35] #134 closed

[2019-01-01 13:35] #135 closed

[2019-05-08 13:37] randeffects opened #148 "metrics-es-cluster throws undefined method for JSON.parse in 4.0.0 release"
Upgrading to 4.0.0 , I get the following error in the `metrics-es-cluster` check:
```"Check failed to run: undefined method `parse' for Sensu::Plugin::Metric::CLI::JSON:Class, [\"/opt/sensu/embedded/lib/ruby/gems/2.4.0/gems/sensu-plugins-elasticsearch-4.0.0/bin/metrics-es-cluster.rb:125:in `get_es_resource'\", \"/opt/sensu/embedded/lib/ruby/gems/2.4.0/gems/sensu-plugins-elasticsearch-4.0.0/bin/met

[2019-06-11 15:09] apenen opened #152 "Add the possibility of other aggregations"
Aggregations like Cardinality other than default Average.

[2019-06-21 21:21] jspaleta commented on #148
releasing 4.0.1 now with a fix for this. Please re-test with 4.0.1 when you can and close if it's working for you.

[2019-06-21 22:22] rwky commented on #148
Works for me!

[2019-07-01 07:57] alexhogberg commented on #148
Worked perfectly for me as well, cheers!

[2019-07-01 13:42] randeffects commented on #148
Working for me again. Thanks!

[2019-07-01 13:42] #148 closed

[2019-08-02 15:55] tmonk42 commented on #64
Ops life just brought me back to this gem and issue. 🤣

[2019-09-17 00:31] msmith-hpe commented on #102
This is even more annoying now that sensu-go has the ruby 2.4.0 runtime asset available for use and rest-client < 2.0.1 has this issue with ruby 2.4.0: https://github.com/rest-client/rest-client/issues/612

[2019-11-08 09:23] gerasym opened #163 "Sensu checks cause high load to Elasticsearch 7"
After upgrade our ES cluster from 6th to 7th version we noticed that 7th version can not handle the same query rate that 6th version was handling perfectly fine. The only thing that changed  is ES version. Hardware, deployment, ingest rate and everything else did not change.

After investigation we have found out that the load is created by Sensu clients. We analyzed the queries and out from ~400

[2019-11-12 09:33] gerasym commented on #163
In the end we found out that load is caused by document security ES feature. Once it's configuration is removed - 7th version works fine. Sorry for wrong droids :)

[2019-11-12 09:33] #163 closed

[2020-01-09 19:58] phumpal commented on #102
Although I should be I am not familiar with sensu-go. Is the requirement 2.4.0 or 2.4.9? 2.4.x will be EOL on [2020.3.31](https://www.ruby-lang.org/en/downloads/branches/) which could pose a problem.

Are there plans to support 2.5.x mentioned anywhere?

[2020-01-10 01:48] majormoses commented on #102
in the context of `sensu-go` I believe sensu inc will maintain the asset of ruby, the maintenance of the plugins themselves follow: https://docs.sensu.io/plugins/latest/faq/#what-is-the-policy-on-supporting-end-of-life-eol-ruby-versions

[2020-01-10 01:50] majormoses commented on #102
released: https://rubygems.org/gems/sensu-plugins-elasticsearch/versions/4.1.0

[2020-01-10 01:50] #102 closed

[2020-01-10 03:37] phumpal commented on #102
:+1: thank you!

[2020-03-03 11:14] nilroy opened #171 "Gettig following error : "Check failed to run: key not found: :ciphers""
Hi,

I used this asset from bonsai version 4.0.1 and created a check definition like below

[code]

But the check fails to run with error (Check failed to run: key not found: :ciphers)  pointing to rest-client. I found similar issues reported for rest-client version prior to 2.0.0. I also noticed that you updated the rest-client version in the master branch. When are you planning to release this a

[2020-05-04 14:44] rgarcia89 commented on #100
What is the status of this ticket?

[2020-05-11 16:09] nixwiz commented on #116
Closed by 18287f99

[2020-05-11 16:09] #116 closed

[2020-05-11 18:06] nixwiz commented on #171
4.2.0 includes these updates and is on Bonsai.

Closed by #173

[2020-05-11 18:06] #171 closed

[2020-12-07 23:30] cwjohnston opened #174 "metrics-es-node-graphite.rb constructs invalid URL when cert file flag is used"
In #101 many plugins in this collection were updated to add a `--cert-file` argument. In this change, a bug was introduced in metrics-es-node-graphite.rb plugin in particular which prevents the check from correctly constructing a request URL when this flag is used.

Specifically, the value of the `--host` argument is assigned to `config[:server]` around https://github.com/sensu-plugins/sensu-plugi

[2020-12-09 12:59] #174 closed

[2021-03-17 05:47] tgdfool2 opened #176 "check-es-shard-allocation-status.rb & Elasticsearch 7.x"
Hi Everyone,

We are facing a similar issue as the one described under https://github.com/sensu-plugins/sensu-plugins-elasticsearch/issues/66, but this time with an Elastic 7.x cluster. Here is the output of the `check-es-shard-allocation-status.rb` command invocation:
[code]

Using the script from `sensu-plugins-elasticsearch (4.2.2)` gem.

Thanks in advance for your help!

[2021-03-17 10:24] tgdfool2 commented on #176
Sorry, my mistake: the `--scheme` option was missing in my command invocation.

I was expecting the default to be `https`, which is apparently not the case.

[2021-03-17 10:24] #176 closed

[2021-06-16 12:15] ltoning commented on #100
Hello,

Can we please have this option?
 From elastic 7.10 TLS is mandatory on http api 9200 to be abl to use the core Alert functionality.
 This makes all the sensu-plugins-elasticsearch useless when using selfsigned/pki certificates.

[2021-07-03 08:32] rgarcia89 commented on #100
@ltoning it is available in a fork...
not sure why it has not been merged to the community version

https://github.com/jspaleta/sensu-plugins-elasticsearch/commit/d091d7a7d03cb74b10db286f3a032779e43578a9

[2021-07-04 18:33] majormoses commented on #100
I will be happy to take a look at integrating it once Jeff is ready to create a pull request. Based on the tag it may not be ready for production without further testing.

[2021-07-04 18:38] rgarcia89 commented on #100
@majormoses I am using it for my test and prod environment. Everything is working fine with the `--insecure-skip-tls-verify` parameter

[2022-06-09 23:26] FlorinAndreiSpree3D opened #180 "metrics-es-cluster.rb / metrics-es-node.rb fail due to SSL certificate check"
[code]

Fails with:

[code]

Can we have an option to just ignore the SSL validation? Everything runs in an AWS VPC that we've built, and we trust that certificate. I want the script to not validate SSL.

Same for `metrics-es-node.rb`.

[2022-06-28 09:31] jgough commented on #106
I believe this patch fixes the issue
[code]

[2022-10-05 11:32] kespineira opened #181 "check-es-query-count warning: constant ::Fixnum is deprecated"
Hello,

I'm using your plugins with Sensu Go and the check-es-query-count.rb return a warning:

[code]

I'm also using the ruby-runtime asset but I don't know how to remove the warnings without having to put the RUBYOPT=-W0 option in the command as follows, `RUBYOPT=-W0 check-es-query-count.rb <options>`.

I hope you can help me.

[2022-10-14 11:43] sensu-discourse commented on #181
This issue has been mentioned on **Sensu Community**. There might be relevant details there:

https://discourse.sensu.io/t/sensu-plugins-sensu-plugins-elasticsearch-warning-constant-fixnum-is-deprecated/3003/1